<!-- CONTENT -->
<section id="content">
  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>{{company.name}}</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Companies</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" href="/admin/companies">List</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active">Details</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Intervention Table -->
    <div class="table-data">
      <!-- error  -->
      <ng-template #interErrors>
        <tbody>
          <tr>
            <td>
              <div class="text-danger">do n't have Boxes</div>
            </td>
          </tr>
        </tbody>
      </ng-template>
      <!-- error  -->
      <div class="list">
        <!-- table header  -->
        <div class="head">
          <h4>All Company Interventions</h4>
          <button style="border: none;" data-bs-toggle="modal" data-bs-target="#addInter"><span class="filter">Add
              Intervention</span></button>
        </div>
        <!-- table header  -->
        <table>
          <thead>
            <tr>
              <th>details</th>
              <th>Technician</th>
              <th>Description</th>
              <th>Status</th>
              <th>Appointment</th>
              <th>Create At</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody *ngIf="companyInters ; else interErrors">
            <tr *ngFor="let cI of companyInters ; let i=index">
              <td (click)="handleGoToInterDetails(cI)">
                <button style="border: none;"><span class="status completed">Details</span></button>
              </td>
              <td>
                <ng-container *ngIf="cI.status==='PLANNED'; else noPlanned">
                  {{cI.user.firstName}} {{cI.user.lastName}}
                </ng-container>
                <ng-template #noPlanned>
                  <button style="border: none;"><span class="status delete">Don't Have</span></button>
                </ng-template>
              </td>
              <td>
                <button style="border: none;" data-bs-toggle="modal" data-bs-target="#showComment"
                  (click)="handlOpenShowInterComment(i)"><span class="status completed">Show
                  </span></button>
              </td>
              <td>{{cI.status}}</td>
              <td>{{cI.appointmentAt}}</td>
              <td>{{cI.creatAt}}</td>
              <td><button style="border: none;" (click)="handleDeleteInter(cI.id)"><span class="status delete"> <i
                      class="bi bi-trash-fill"></i></span></button>
              </td>
              <td><button style="border: none;" data-bs-toggle="modal" data-bs-target="#editInter"
                  (click)="handlOpenEditInter(i)"><span class="status completed"> <i
                      class="bi bi-pencil"></i></span></button></td>
            </tr>
          </tbody>
        </table>
        <!-- table footer  -->
        <div class="footer">
          <button style="border: none;" (click)="handlegoToNextPageInters(ii)"
            *ngFor="let item of [].constructor(this.totalPagesInter);let ii = index" data-bs-toggle=""
            data-bs-target="#"><span [ngClass]="ii==currentPageInter?'page-active':'page'"
              class="">{{ii+1}}</span></button>
        </div>
        <!-- table footer  -->
      </div>

    </div>
    <!-- intervention Table -->

  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
<!-- Show Comment Dialog  -->
<div class="modal fade" id="showComment" aria-hidden="true" aria-labelledby="addToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2>Description</h2>
      <p>{{showComment}}</p>
      <a class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>
</div>
<!-- Show Comment Dialog  -->
<!-- Add Dialog Intervention  -->
<div class="modal fade" id="addInter" aria-hidden="true" aria-labelledby="addToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2>Add Intervention</h2>
      <form [formGroup]="addInter" (ngSubmit)="handleCreateInter()">
        <label for="comment">Description:</label>
        <textarea class="form-control mt-2" formControlName="comment" rows="4"></textarea>
        <small *ngIf="addInter.controls['comment'].errors &&addInter.controls['comment'].touched " class="text-danger">
          Comment is required
        </small>
        <button [disabled]="addInter.invalid" type="submit" class="submit">Add Intervention</button>
      </form>
      <a class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>
</div>
<!-- Add Dialog Intervention  -->
<!-- Edit Dialog Intervention  -->
<div class="modal fade" id="editInter" aria-hidden="true" aria-labelledby="addToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2>Edit Intervention</h2>
      <form [formGroup]="editInter" (ngSubmit)="handleEditInter()">
        <!-- <p>{{interComment}}</p> -->
        <label for="comment">Description:</label>
        <textarea class="form-control mt-2" formControlName="comment" rows="4"></textarea>
        <small *ngIf="editInter.controls['comment'].errors &&editInter.controls['comment'].touched "
          class="text-danger">
          Comment is required
        </small>
        <button type="submit" class="submit">Edit Intervention</button>
      </form>
      <a class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>
</div>
<!-- Edit Dialog Intervention  -->
