<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <title>Installateur</title>
</head>

<body>

  <!-- NAVBAR -->
  <section id="content">
    <nav>
      <form action="#">
        <div class="form-input">
        </div>
      </form>
      <a href="#" class="btn-download">
        <span class="text">Logout</span>
        <i class="bi bi-box-arrow-right"></i>
      </a>
    </nav>
  </section>

  <!-- NAVBAR -->
  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand">
      <span class="text">Installateur</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a href="/admin/dashboard">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin/companies">
          <i class='bx bxs-shopping-bag-alt'></i>
          <span class="text">Companies</span>
        </a>
      </li>
      <li>
        <a href="/admin/users">
          <i class='bx bxs-group'></i>
          <span class="text">Technicians</span>
        </a>
      </li>
      <li>
        <a href="/admin/admins">
          <i class='bx bxs-group'></i>
          <span class="text">Admins</span>
        </a>
      </li>
    </ul>

  </section>
  <!-- SIDEBAR -->


  <!-- CONTENT -->
  <router-outlet></router-outlet>

  <!-- CONTENT -->

</body>

</html>