<!-- CONTENT -->
<section id="content">


  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Companies</h1>
        <ul class="breadcrumb">
          <li>
            <a>Companies</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active">List</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data">
      <div class="list">
        <!-- table header  -->
        <div class="head">
          <h4>All Companies</h4>
          <button style="border: none;" data-bs-toggle="modal" data-bs-target="#addCompany"><span class="filter">Add
              Company</span></button>
        </div>
        <!-- table header  -->
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Location</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of companies ; let i=index">
              <td (click)="handleGoToCompanyDetails(c)">
                <ng-container *ngIf="c.imageCompany!==null; else noImage">
                  <button style="border: none;"><img
                      [src]="'http://localhost:8081/image/download/' + c.imageCompany.name"></button>
                </ng-container>
                <ng-template #noImage>
                  <button style="border: none;"><img src="./assets/images/company.png"></button>
                </ng-template>
              </td>
              <td>{{c.name}} </td>
              <td>{{c.email}}</td>
              <td>{{c.phone}}</td>
              <td>{{c.location}}</td>
              <td><button style="border: none;" (click)="handleDeleteCompany(c.id)"><span class="status delete"> <i
                      class="bi bi-trash-fill"></i></span></button>
              </td>
              <td><button style="border: none;" data-bs-toggle="modal" data-bs-target="#editCompany"
                  (click)="handlOpenEditCompany(i)"><span class="status completed"> <i
                      class="bi bi-pencil"></i></span></button></td>
            </tr>
          </tbody>
        </table>
        <!-- table footer  -->
        <div class="footer">
          <button style="border: none;" (click)="handlegoToNextPage(i)"
            *ngFor="let item of [].constructor(this.totalPages);let i = index" data-bs-toggle=""
            data-bs-target="#"><span [ngClass]="i==currentPage?'page-active':'page'" class="">{{i+1}}</span></button>

        </div>
        <!-- table footer  -->
      </div>

    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->

<!-- Add Dialog Company  -->
<div class="modal fade" id="addCompany" aria-hidden="true" aria-labelledby="addToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2>Add Company</h2>
      <form [formGroup]="addCompany" (ngSubmit)="handleCreateCompany()">
        <label for="name">Name:</label>
        <input type="text" formControlName="name">
        <small *ngIf="addCompany.controls['name'].errors &&addCompany.controls['name'].touched " class="text-danger">
          Name is required
        </small>
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
        <small *ngIf="addCompany.controls['email'].errors &&addCompany.controls['email'].touched " class="text-danger">
          Email is required
        </small>
        <label for="location">Location:</label>
        <input type="text" formControlName="location">
        <small *ngIf="addCompany.controls['location'].errors &&addCompany.controls['location'].touched "
          class="text-danger">
          Location is required
        </small>
        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone">
        <small *ngIf="addCompany.controls['phone'].errors &&addCompany.controls['phone'].touched " class="text-danger">
          Phone is required
        </small>
        <label for="image">Image:</label>
        <div class="row">
          <div class="col-auto"><input type="file" (change)="getImagePath1($event)" formControlName="image"></div>
          <div class="col-auto"><img src="{{base64_1}}" alt="" height="40px"></div>
        </div>
        <button [disabled]="addCompany.invalid" type="submit" class="submit">Add Company</button>
      </form>
      <a class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>
</div>
<!-- Add Dialog Company  -->


<!-- Edit Dialog Company  -->
<div class="modal fade" id="editCompany" aria-hidden="true" aria-labelledby="addToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <h2>Edit Company</h2>
      <form [formGroup]="editCompany" (ngSubmit)="handleEditCompany()">
        <label for="name">Name:</label>
        <input type="text" formControlName="name">
        <small *ngIf="editCompany.controls['name'].errors &&editCompany.controls['name'].touched " class="text-danger">
          Name is required
        </small>
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
        <small *ngIf="editCompany.controls['email'].errors &&editCompany.controls['email'].touched "
          class="text-danger">
          Email is required
        </small>
        <label for="location">Location:</label>
        <input type="text" formControlName="location">
        <small *ngIf="editCompany.controls['location'].errors &&editCompany.controls['location'].touched "
          class="text-danger">
          Location is required
        </small>
        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone">
        <small *ngIf="editCompany.controls['phone'].errors &&editCompany.controls['phone'].touched "
          class="text-danger">
          Phone is required
        </small>
        <label for="image">Image:</label>
        <div class="row">
          <div class="col-auto"><input type="file" (change)="getImagePath1($event)" formControlName="image"></div>
          <div class="col-auto"><img src="{{base64_1}}" alt="" height="40px"></div>
        </div>
        <button [disabled]="editCompany.invalid" type="submit" class="submit">Edit Company</button>
      </form>
      <a class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></a>
    </div>
  </div>
</div>
<!-- Edit Dialog Company  -->